*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #c8c8c8;
}

@media (min-width: 600px) and (max-width:1800px) {

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #BC0000;
    padding: 16px;
    height: 60px;
}

.img-menu {
    height: 26px;
}

.display-input{
    display: flex;

}

.input-header {
    padding-bottom: 3px;
    padding-left: 10px;
    border: none;
    width:300px;
    transition: 0.5s;
}

.input-header::placeholder{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300px;
    font-size: 20px;
    line-height: 11px;
    color: #878787;
}

.btn-menu {
    height: 26px;
    border: none;
    background-color: transparent;
    transform: scale(1.5);
}

.img-banner{
    width: 100%;
}

.informativo{
    background: #BC0000;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    margin-top: -5px;
}

.informativo>p{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 14px;
    color: #E9D100;

}

.card-pai{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.cards{
    width: 34%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.img-cards {
    width: 95%;
    height: auto;
}



.p-descritivo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 6px;
    line-height: 150.02%;
    color: #000000;
}

.valor-produto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 150.02%;
    color: #000000; 
}

.modo-pagamento{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 150.02%;
    color: #02660C;
}

.assine-newsletter {
    display: flex;
    justify-content: flex-start;
}

.img-foguete{
    margin-left: 4%;
}

.p-foguete{
    margin-left: 10%;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 129.52%;  
    color: #BC0000;
}

.input-email{
    
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.config-input-email{
    width: 70%;
    padding-left: 4px;
    border: none;
}

.config-input-email::placeholder{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 9px;
    line-height: 100%;
    color: #878787;
}

.p-final {
    margin-left: 13%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 8px;
    line-height: 100.52%;
    color: #BC0000;
    padding: 10px;
}
   
footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: #BC0000;
}

.card-rodape {
    margin-top: 6px;
    text-align: center;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    color: #E9D100;
}

.p-rodape{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #E9D100;
    margin-bottom: 6px;
}

.p-rodape-final{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 150.02%;
    text-align: center;
    color: #E9D100;
}

}

/* Estilazação da página de login */
.container-login {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card-box {
    padding: 20px;
    width: 400px;
    height: 500px;
    background: rgba(122, 122, 122, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(169, 206, 37, 0.57);
}
.user-img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 1px 9px rgba(169, 206, 37, 0.57);
}
.login {
    font-family: 'CF Night of Terror PERSONAL', sans-serif;
    font-size: 70px;
    text-shadow: 5px 10px 5px black; 
    color: rgb(208, 216, 90);
    margin-top: 30px;
}
.user-email {
    margin-top: 10px;
    font-size: 1rem;
    color: yellow;
    height: 55px;
    width: 300px;  
    display: flex; 
    flex-direction: column;
}
.user-pass  {
    margin-top: 10px;
    font-size: 1rem;
    height: 55px;
    color: yellow;
    width: 300px; 
    display: flex;
    flex-direction: column;
}
.usuario {
    height: 100px;
    border-radius: 7px;
    background-color: black;
    border-style: none;
    color: white;
}
.user-boxText {
    font-size: 20px;
    font-weight: bold;
}
.check-box {
    color: yellowgreen;
    margin-top: 20px;
    color: white;
}
.botao-login {
    display: block;
    position: absolute;
    margin-top: 400px;
    width: 160px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.botao-login:hover {
    transition: 0.5s;
    background-color: yellowgreen;
    transform: scale(1.02);
}
.navbar {
    display: flex;
    flex-direction: row;
}
.botao-nav {
    height: 45px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: unset;
    transition: 0.5s;
}
.botao-nav:hover {
    position: relative;
    transform: scale(1.5);
}
.botao-text {
    font-size: 25px;
    text-decoration: none;
    font-style: italic;
    color: white;
    font-weight: bold;
}